@font-face {
  font-family: graphik;
  src: url("font/GraphikRegular.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: graphik;
  font-size: 16px;
  font-weight: 300;
  color: gray;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  font-weight: 1500;
  color: black;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.header_body_container{
  display:flex;
  flex-flow: row nowrap;
  position: relative;
  padding-right:20px;
  width: fit-content;
  padding-bottom: 10px;
    
}
.header_body_container img {
  bottom: 0;  
}
h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 0;
  padding: 0;  
}

h3 {
  color: black;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

span {
  color: red;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  white;
  position: fixed;
  z-index: 3;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  text-decoration: none;
  
}

li {
  list-style: none;
  margin-right: 3em;
  font-size: 1em;
  align-self: center;
}

a {
  cursor: pointer;
}

button {
  border: none;
  border-radius: 0 0 10px 0;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 1em;
}

.nav_button {
 width: 160px; 
  background-color: #e7332b;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5%;
}

main button {
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button1 {
  width: 220px;
  background-color: #e7332b;
  margin-right: 10px;
}

.button2 {
  width: 220px;
  background-color: #585858;
}


.section1 {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 1340px;
  align-items: center;
  padding: 0px 5%;
  
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
}



.dreadImg {
  justify-content: flex-end;
  position: relative;
  /* height: min-content; */
}

.line_in_hero {
  position: absolute; 
  right: 0; bottom: 15%;
}

.section2 {
  width: 100vw;
  background-image: url(./img/I/bgsection2.063bd869082548bafa74.png);
  background-size: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 !important;
}

.section2_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1340px;;
}

.flag_container {
  display: flex;  
}

.flag {
  height: 60px;
  width: 60px;
  background: white;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.flag img {
  width: 50px;
}

.section3 {
  width: 1340px; 
}

.section3_container {
  padding: 100px 0;
}

.highlight {
  width: 1070px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;
  z-index: 2;
}

.hightlight__1 {
  width: 200px;
}

.highlight p {
   box-shadow: 2px 2px 40px 3px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  
  
}

.section4 {
  width: 100vw;
  background-color: #FFF8E5;
  display: flex;
  justify-content: center;
}

.section4_container {
  width: 1340px;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.card_container {
  display: grid;
  gap:30px 10px;
  text-align: center;
}

.card {
  width: 300px;
  padding: 50px 50px;
  background-color: white;
  border-radius: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#card2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#card3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
#card4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#card5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}


.myFooter {
  background: #000;
  color: #fff;
}

.fontimg, .copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
 nav {
  width: 90%;
 }

  .hero {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .dreadImg img {
    width: 700px;
  }

  .content {
    margin: 150px 0;
    align-items: center;
  }

  .line_in_hero {
    position: relative;
    margin-top: -300px;
    margin-bottom: 300px;
    align-self: flex-end;
  }

  .section2_container, .section2_container, .section3_container {
    width: 80%;
  }

  .section3 {
    display: flex;
    justify-content: center;
   }
  
  .section3_container {
    width: 80%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
  }
  
  .section3_container img {
    display: none;
  }
  
  .highlight {
    width: 80vw;
   flex-wrap: wrap;
  }

  .section4_container {
    width: 90vw;
  }

  .card {
    width: 90%;
    padding: 50px 20px;
    gap: 10px;
  }

  #card1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #card2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #card3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #card4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #card5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 95%;
  }

}

@media screen and (max-width: 1100px) {
  .section2_container {
    flex-direction: column;
   }
  
   .section2_left {
    align-items: cennter;
    text-align: center;
    margin-top:150px;
   }
  
   .flag_container {
    justify-content: center;
   }  
}

@media screen and (max-width: 900px) {
 .off {
  display: none;
 }
 
 ul {
  justify-content: flex-end;
 }
 
 .card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .rope {
  display: none;
 }
}