@font-face {
  font-family: graphik;
  src: url("font/GraphikRegular.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: graphik;
  font-size: 16px;
  font-weight: 300;
  color: gray;
}

h1 {
  font-size: 40px;
  font-weight: 1500;
  color: black;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.header_body_container{
  display:flex;
  flex-flow: row nowrap;
  position: relative;
  padding-right:20px;
  width: fit-content;
    padding-bottom: 10px;
}
.header_body_container img {
  bottom: 0;  
}
h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 0;
  padding: 0;  
}

h3 {
  color: black;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

header {
  display: flex;
  justify-content: center;
  background:  white;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  text-decoration: none;
/*   margin-top: 0.5em; */
}

li {
  list-style: none;
  margin-right: 3em;
  font-size: 1em;
  align-self: center;
}

a {
  cursor: pointer;
}

button {
  border: none;
  border-radius: 0 0 10px 0;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 1em;
}

.nav_button {
 width: 160px; 
  background-color: #e7332b;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5%;
}

main button {
  width: 200px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.button1 {
  background-color: #e7332b;
}

.button2 {
  background-color: #585858;
}


.section1 {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 1320px;
  align-items: center;
  padding: 0px 5%;
  
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
}



.dreadImg {
  justify-content: flex-end;
  position: relative;
  height: min-content;
  
  
}











.section2 {
  width: 100vw;
  background-image: url(./img/I/bgsection2.063bd869082548bafa74.png);
  background-size: 100vw;
  display: flex;
  justify-content: center;
}

.section2_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
}

.flag_container {
  display: flex;  
}

.flag {
  height: 60px;
  width: 60px;
  background: white;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.flag img {
  width: 50px;
  
}




.section3 {
  width: 1320px;
}

.techspace {
  display: flex;
  justify-content: space-around;
 
  
}

.techspace p {
   box-shadow: 2px 2px 5px 5px #888888;
  padding: 20px;
  border-radius: 10px;
}







.card_container {
  display: grid;
}

.card {
  width: 20%;
}

#card1 {
  grid-column-start: 1;
  grid-column-end: 3;
  
}
#card2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
#card3 {
  grid-column-start: 5;
  grid-column-end: 7;
}
#card2 {
  grid-column-start: 2;
  grid-column-end: 4;
}
#card2 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.myFooter {
  background: #000;
  color: #fff;
}

.fontimg, .copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

